@import '../assets/media';

.Grid-view {
    display: flex;
    justify-content: space-around;
    @include break-at(small-to-medium-screens) { margin: 0 15vw; }  
    flex-wrap: wrap;

    & > * {
         padding: 20px;
         flex: 1 1 auto;
     }

    &:after {
        content: "";
        flex: 1000;
    }
}