@import 'colors';
@import 'fonts';

$primary-font-family: mtg-reg;
$secondary-font-family: mtg-light;

$primary-font-color: $catskill-white;

$primary-background-color: $athens-gray;
$secondary-background-color: $ebony-clay;
$tertiary-background-color: $primary-font-color;

$primary-border-color: $mako;