@font-face {
  font-family: 'mtg';
  src: url("https://assets.viaplay.tv/fonts/mtg-sans/MTGSans-Regular.eot");
  src: local("\263A"), url("https://assets.viaplay.tv/fonts/mtg-sans/MTGSans-Regular.woff") format("woff"), url("https://assets.viaplay.tv/fonts/mtg-sans/MTGSans-Regular.ttf") format("truetype"), url("https://assets.viaplay.tv/fonts/mtg-sans/MTGSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.App {
  font-family: mtg, sans-serif;
}

.App-logo {
  background-color: white;
  border-radius: 50%;
  animation: App-logo-spin 1s linear;
  margin: 0 5px;
}



.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;  
  background-color: #222;
  padding: 20px;
  color: white;
  font-size: 75px;
}


.App-header span {
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(350deg); }
  to { transform: rotate(360deg); }
}
