@import 'assets/keyframes';
@import 'assets/theme';

.App {
  font-family: $primary-font-family;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;  

  box-sizing: border-box;

  padding-left: 70px;
  
  height: 66px;

  background-color: $secondary-background-color;
  color: $primary-font-color;
  border-top: 1px solid $primary-border-color;
}

.App-logo {
  margin: 0 5px;
  border-radius: 50%;  
  background-color: $tertiary-background-color;
  
  animation: spin 1.5s linear;
}

.App-header h1 {
  padding-left: 10px;
  padding-bottom: 10px;
  
  font-family: $secondary-font-family;
  font-size: 35px;      

  animation: slide-in 1.5s ease-in;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 44px;
  width: 100%;
  overflow:hidden;
  
  background-color: $secondary-background-color;
}